/* Second Row CSS */

.Second-Row {
  outline: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  height: 16.6666666667%;
}

.Seven {
  outline: 1px solid red;
}

.Eight {
  outline: 1px solid red;
}
.Nine {
  outline: 1px solid red;
}
.Multiply {
  outline: 1px solid red;
}