/* Second Row CSS */

.Second-Row {
  display: flex;
  flex-flow: row nowrap;
  height: 16.667%;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
}

.Seven {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  font-size: 5rem;
  border-right: 1px solid grey;
}

.Eight {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  font-size: 5rem;
  border-right: 1px solid grey;
}
.Nine {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  font-size: 5rem;
  border-right: 1px solid grey;
}
.Times {
  background-color: #A0001E;
  width: 25%;
  padding: 20px 0;
  text-align: center;
  font-size: 5rem;
}
