/* All styles for your Card Components live here */

.Card-Container {
  /* outline: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
}

.Card-Banner {
  display: flex;
  justify-content: flex-end;
}

.Card-Banner > img {
  /* outline: 1px solid red; */
  width: 460px;
  height: 241px;
  border-radius: 5px;
}

.Card-Content {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 40px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 0 10px;
}

.Card-Content > h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

.Card-Content > h3 {
  color: #979797;
  margin-top: 0;
}