/* First Row CSS */

.First-Row {
  outline: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  height: 16.6666666667%;
}

.Clear {
  outline: 1px solid red;
}

.Divide {
  outline: 1px solid red;
}