/* Fourth Row CSS */

.Fourth-Row {
  outline: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  height: 16.6666666667%;
}

.One {
  outline: 1px solid red;
}

.Two {
  outline: 1px solid red;
}
.Three {
  outline: 1px solid red;
}
.Plus {
  outline: 1px solid red;
}