/* Fifth Row CSS */

.Fifth-Row {
  outline: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  height: 16.6666666667%;
}

.Zero {
  outline: 1px solid red;
}

.Equals {
  outline: 1px solid red;
}