/* Third Row CSS */

.Third-Row {
  outline: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  height: 16.6666666667%;
}

.Four {
  outline: 1px solid red;
}

.Five {
  outline: 1px solid red;
}
.Six {
  outline: 1px solid red;
}
.Subtract {
  outline: 1px solid red;
}